@font-face {
  font-family: 'Vaadin-Icons';
  src: url('../fonts/Vaadin-Icons.eot');
  src: url('../fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Vaadin-Icons.woff') format('woff'),
  url('../fonts/Vaadin-Icons.ttf') format('truetype'),
  url('../fonts/Vaadin-Icons.svg#icomoon') format('svg');
}



body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;
}
